body {
    background-color: papayawhip;
    margin: 0px;
    background-image: url("images/老人1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* LOGO */
.box1 {
    text-align: left;
    position: absolute;
    top: 30px;
    left: 10px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.upper {
    color: rgb(255, 115, 0);
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 45px;
    letter-spacing: -10px;
}
.lower {
    color: rgb(255, 183, 124);
    font-family: sans-serif;
    font-size: 45px; 
    letter-spacing: -5px;
}

/* 注册界面1 */
.register_1 {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 75px;
    left: 850px;
}
.register_1 h3 {
    padding: 0 0 0 30px;
    color: rgb(255, 115, 0);
}
.register_1 form input{
    width: 220px;
    height: 35px;
    position: relative;
    top: 10px;
    left: 90px;
    text-align: center;
    border-radius: 25px;
    border: 0.5px solid rgb(170, 170, 170);
    font-size: 15px;
    margin: 50px 0 30px 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}
.register_1 form input#next {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(255, 115, 0);
    color: white;
    position: relative;
    top: 100px;
    left: 340px;
}
.register_1 form input#next:hover {
    transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    -webkit-transform: translate(0,-1px);
    -o-transform: translate(0,-1px);
    -moz-transform: translate(0,-1px);
    box-shadow: 3px 3px 3px rgba(131, 131, 131, 0.6);
}
.register_1 form input#next:active {
    background-color: rgba(255, 115, 0, 0.3);
}

/* 注册界面2 */
.register_2 {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 75px;
    left: 850px;
}
.register_2 h3 {
    padding: 0 0 0 30px;
    color: rgb(255, 115, 0);
}
.register_2 form input {
    width: 220px;
    height: 35px;
    position: relative;
    top: 40px;
    left: 90px;
    text-align: center;
    border-radius: 25px;
    border: 0.5px solid rgb(170, 170, 170, 0.6);
    font-size: 15px;
    margin: 20px 0 0 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
}
.register_2 form .gender input{
    width: 10px;
    height: 10px;
    position: relative;
    left: 110px;
    margin-right: 120px;
}
.register_2 form .gender span {
    position: relative;
    left: -10px;
    top: 40px;
    color: gray;
}
.register_2 form span#birthday {
    color: gray;
    position: relative;
    top: 40px;
    left: 110px;
}
.register_2 form input#date {
    width: auto;
    height: auto;
    position: relative;
    left: 110px;
}
.register_2 form input#submit {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgb(255, 115, 0);
    color: white;
    position: relative;
    top: 118px;
    left: 340px;
}
.register_2 form input#submit:hover {
    transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    -webkit-transform: translate(0,-1px);
    -o-transform: translate(0,-1px);
    -moz-transform: translate(0,-1px);
    box-shadow: 3px 3px 3px rgba(131, 131, 131, 0.6);
}
.register_2 form input#submit:active {
    background-color: rgba(255, 115, 0, 0.3);
}