body {
    background-color: aliceblue;
    margin: 0px;
}
.background_text {
    width: 100%;
    color: rgba(255, 239, 213, 0.3);
    font-style: italic;
    font-family: sans-serif;
    font-size: 125px;
    text-align: center;
    position: absolute;
    top: 120px;

    /* background-color: yellow; */
}
#title_1 {
    width: 100%;
    color: slategray;
    font-family: youyuan;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 140px;
}
#name {
    width: 120px;
    color: slategray;
    font-family: youyuan;
    font-size: 24px;
    position: relative;
    left: 490px;
    top: 150px;
}
input[name] {
    height: 27px;
    border: none;
    position: absolute;
    left: 150px;
    font-family: youyuan;
}
input[password] {
    height: 27px;
    border: none;
    position: absolute;
    left: 150px;
    font-family: youyuan;
}

/* 以下为凑字数 */
*
		{
		margin:0;
		padding:0;
		border:0;
		}

body
		{
		font-family:PingFangSC-Regular, Verdana, Arial, '微软雅黑','宋体';
		font-size:15px;
		}

div#maincontent div#intro {
        padding-top: 45px;
        padding-bottom: 45px;
		font-size:24px;
		font-family:'微软雅黑';
		color:#3f3f3f;
		font-weight:400;
        }

span.parameter {
        font-style: italic;
        color: #000;
}

div#maincontent h2
		{
		font-size: 30px;
        font-weight: 400;
		color:#3f3f3f;
		}

body#homefirst div#maincontent, div#maincontent h1, div#maincontent h2, div#sidebar div#ad h2
		{
		font-family:'微软雅黑';
		}

pre, pre code, div#maincontent input, div#maincontent select, div#maincontent textarea
		{
		font-family:Consolas, "Courier New", Courier, monospace;
		}

h2, h3, h4, h5, h6, em
		{
		font-weight: bold;
		}

p.note span, p.important span, p.tip span, p.inherited, p.inherited span, p.gototop, .html5_new_note span
		{
		font-weight: bold;
		}

p.tip span {
	color:#ff9955;
	}

p.tip2 {
		background: #BBEDB8 url(/ui2017/tip.png) top left no-repeat;
		display:block;
		padding:15px 15px 15px 50px;
		color:#000;
		border-radius:5px;
		background-position:15px 15px;
	}

body#homesecond div#navsecond li
		{
		font-weight:bold;
		}

 div#sidebar div#ad h2, body#homefirst div#maincontent h3
		{
		font-size: 14px;
		}

div#maincontent h3
		{
		font-size: 16px;
		}

div#maincontent h4
		{
		font-size: 14px;
		}

div#maincontent button, div#maincontent input, div#maincontent select, div#maincontent textarea
		{
		font-size:12px;
		}

body#homefirst div#maincontent div#w3 h2
		{
		font-size:20px;
		}

em
		{
		font-style:normal;
		}

pre code
		{
		color:#0000dd;
		}

.html5_new_note
		{
		background: #ffffff url(/i/html5_new_note.png) top left no-repeat;
		padding-left:20px;
		}

.html5_new_note span
		{
		color:blue;
		}

p.gototop
		{
		text-align:right;
		}

div#maincontent button
		{
		margin-top:15px;
		}




	/* ----------------------------------- layout ----------------------------------- */
html 	{ 
		min-width: 1210px;
		background-color: #fdfcf8;
		overflow:scroll;
		overflow-x:hidden;
		}

body
		{
		text-align: center;
		margin: 0;
		padding: 0;
		border: 0;
		background: #fdfcf8;
		}

div#wrapper
		{
		margin: 0 auto;
		padding: 0;
		border: 0;
		width: 1239px;
		text-align: left;
		background: transparent url(/ui2017/wrapper.png) top left repeat-y;
		}

div#navsecond
		{
		float: left;
		margin: 0 0 0 6px;
		padding: 0;
		border: 0;
		width: 180px;
		background : transparent;
		}

html>body div#navsecond
		{
		margin-left: 12px;
		}

div#maincontent
		{
		float: left;
		margin: 0;
		padding: 30px 0 0 0;
		border: 0;
		width: 850px;
		background: transparent;
		}

div#maincontent	div{
	width: 810px;
	margin: 0 0 0 25px;
	padding: 30px 0 35px 0;
	border:0;
	border-bottom: 1px solid #aaa;
	}

div#sidebar
		{
		float: left;
		margin: 0;
		padding: 0;
		border: 0;
		width: 180px;
		background: transparent;
		}

div#footer
		{
		clear: both;
		margin: 0;
		padding-top: 16px;
		margin-left: 12px;
		width: 1210px;
		line-height:24px;
		background: #f0f0f0;
		border-top: 0px solid #fff;
		background: #fdfcf8 url(/ui2017/footer.png) top left repeat-x;
		font-family:PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
		}

div#footer #p1
		{
		font-size:12px;
		color:#777777;
		text-align:center;
		background: transparent url(/ui2017/alert.png) no-repeat;
		background-position:235px 2px;
		}

div#footer #p2
		{
		margin: 30px 0 30px 0;
		font-size:14px;
		text-align:center;
		color:#777777;
		}

div#footer #p1, div#footer #p2, div#footer #p2 a { 
		max-height: 999999px;
		}


	/* ----------------------------------- header ----------------------------------- */
div#header, div#header_index
		{
		margin: 0 0 0 12px;
		padding: 0;
		border: 0;
		width: 1210px;
		height: 100px;
		background-color:#fdfcf8;
		}

div#header div#ad_head
		{
		float:right;
		width:728px;
		height:90px;
		background-color: transparent;
		margin-top:5px;
        border: 1px solid #eeeeee;
		}

/*
div#header {
         background: url('/i/ad-header.png') top left no-repeat; 
}
*/





	/* Default links */
a:link, a:visited {
	text-decoration : none;
	color : #900b09;
	background : transparent; 
	border-bottom:1px solid #900b09;
	}

a:hover {
	text-decoration : none;
	color: #ff0000;
	background : transparent; 
	border-bottom:1px solid #ff0000;
	}

a:active {
	text-decoration : none;
	color : #ff0000;
	background : transparent;  
	}

div#navsecond li.currentLink a:link, div#navsecond li.currentLink a:visited	{
	text-decoration : none;
	color:#ff0000;
	background : transparent;
	}

div#navsecond li.currentLink a:hover	{
	text-decoration : underline;
	color : #ff0000;
	background : transparent;
	}

div#navsecond a:link, div#navsecond a:visited	{
	text-decoration : none;
	color:#000;
	background : transparent;
	} 

div#navsecond a:hover	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#navsecond a:active	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#navsecond a#link_help {
	color:#0479A7;
	}

div#navsecond a#link_about {
	color:#0479A7;
	}

div#maincontent .partner a {
	color:#000;
	}

div#footer a	{
	border-bottom:none;
	} 

div#footer a:link, div#footer a:visited	{
	text-decoration : none;
	color:#777777;
	background : transparent;
	} 

div#footer a:hover	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}

div#footer a:active	{
	text-decoration : underline;
	color : #000;
	background : transparent;
	}


	/* ----------------------------------- Typography ----------------------------------- */

div#maincontent p
	{
	margin: 20px 0 0 0;
	line-height: 150%;
	}

div#maincontent h1	{
		margin:0 0 0 25px;
		font-size: 36px;
		font-weight:400;
	}
    div#maincontent h3,  div#maincontent h4{
        margin:25px 0 0 0;
        }
    
    #homefirst div#navsecond h2:first-child, #homefirst div#sidebar h2:first-child	{
        margin:10px 0 0 0;
        }
    
    body#homesecond div#navsecond li {
        margin:5px 0 0 0;
        }
    
    div.backtoreference p{
        margin:0;
        }
    
    div#w3school p {
        margin-left:15px;
        }
    
    div#maincontent div p:first-child {
        margin: 0;
        }
    
    p.important span {
        color:#dd0000;
        }
    
    p.inherited {
        color:#ff0000;
        }
    
    p.inherited span {
        color:#999;
        }
    
    p.chinese span {
        color:#0000ff;
        }
    
    pre	{
        width:765px;
        margin: 15px 0 0 0;
        padding: 20px;
        border: 0;
        border: 1px dotted #785;
        background: #f5f5f5;
        line-height:1.4;
        font-family:Consolas;
        }
    
    pre code {
        color:#0000dd;
        }
    
    pre span {
        color:#999;
        }
    
    pre span.code_comment {
        color:#999;
        }
    
    blockquote
        {
            margin:15px;
        }
    
    div#maincontent ul, div#maincontent ol {
        margin-top:10px;
        margin-left:35px;
        margin-bottom:0;
        }
    
    div#maincontent li {
        margin-top:3px;
        }
    
    div#navsecond ul, div#navsecond li, div#sidebar ul, div#sidebar li	{
        margin: 0;
        padding: 0;
        }
    
    div#navsecond ul, div#sidebar ul	{
        margin-left: 12px;
        }
    
    div#navsecond li, div#sidebar li	{
        list-style: none;
        }
    
    div#navsecond li.list_apart {
        margin-top:10px;
        }
    
    img {
        border:0;
        }
    
    div#maincontent img {
        margin:25px 0 0 25px;
        }
    
    body#homesecond dl	{
        margin:0;
        padding:0;
        }
    
    body#homesecond dt
            {
            font-weight: bold;
            font-size: 14px;
            margin:0;
            padding:0;
            }
    
    body#homesecond dd {
        color:#000088;
        margin:10px 0 0 0;
        padding:0;
        }
    
    body#homesecond dd p {
        margin:0;
        padding:0;
        }
    
    
    div#maincontent div#toc div	{
        margin:0;
        margin-top:15px;
        margin-bottom:35px;
        padding:0;
        border:0;
        }
    
    div#toc img	{
        float:left;
        margin:0;
        margin-right:10px;
        }
    
    div#toc div dt, div#toc div dl	{
        margin-top:0;
        }
    
    div#example dl, div.example dl, div#moreexamples dl, div#toc dl, div#referencelist dl	{
        margin: 10px 0 0 0;
        }
    
    div#example dt, div.example dt, div#moreexamples dt, div#toc dt, div#referencelist dt	{
        margin:15px 0 5px 0;
        }
    
    div#example dd, div.example dd, div#moreexamples dd, div#toc dd, div#referencelist dd	{
        margin:0;
        }
    
    dl.define
            {
            margin: 10px 0 0 0;
            }
    
    dl.define dt
            {
            margin:15px 0 3px 0;
            font-weight:bold;
            color:#0479A7;
            }
    
    dl.define dd
            {
            margin:10px 0 0 10px;
            line-height: 150%;
            }
    
    span.deprecated {
        color:#e80000;
        }
    
    mark {
        color:crimson;
        background-color:#f1f1f1;
        padding-left:4px;
        padding-right:4px;
        }
    
    .marked, pre code span.marked {
        color:#dd0000;
        }
    
    .marked-code {
        color:crimson;
        background-color:#f1f1f1;
        padding-left:4px;
        padding-right:4px;
    
        }
    
    .code_marked {
        color:crimson;
        background-color:#f1f1f1;
        padding-left:4px;
        padding-right:4px;
        font-family: Consolas,"courier new";
        font-size: 110%;
        }
    
    p.gototop {
        text-align:right;
        }
    
    div#maincontent canvas.canvas_example {
        border:1px solid #d3d3d3;
        background:#ffffff;
        width:300px;
        height:150px;
        margin-top:15px;
        }
    
    div#maincontent div.panel,p.flip {
        width:400px;
        margin:0;
        padding:5px;
        text-align:center;
        background:#e5eecc;
        border:solid 1px #c3c3c3;
    }
    
    div#maincontent p.flip {
        margin-top:15px;
    }
    
    div.panel {
        display:none;
    }
    
    div#maincontent input[type=text]
    {
        border:1px #bebebe solid;
        height:30px;
        padding-left:10px;
        margin:15px 0 0 0;
    }
    
    div#maincontent input[type=submit], button
    {
        border:1px #bebebe solid;
        height:30px;
        padding-left:5px;
        padding-right:5px;
    }
    
    div#maincontent input[type=submit]:hover, button:hover
    {
        border:1px #999 solid;
    }
    
    div#maincontent select
    {
        border:1px #bebebe solid;
        height:25px;
        margin:15px 0 0 0;
    }
    
div#header a#logo
{
margin: 0;
padding: 0;
border: 0;
}

div#header a#logo
{
text-indent: -9999px;
overflow:hidden;
float:left;
}

div#header a#logo:link, div#header a#logo:visited
{
display: block;	
width: 372px;
height: 90px;
background : transparent url(/ui2019/bg.png) 0 -150px no-repeat;
}

div#header a#logo:hover
{
background: transparent url(/ui2019/bg.png) 0 -250px no-repeat;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) { 

div#header a#logo
    {
    margin: 0;
    padding: 0;
    border: 0;
    }

div#header a#logo
    {
    text-indent: -9999px;
    overflow:hidden;
    float:left;
    }

div#header a#logo:link, div#header a#logo:visited
    {
    display: block;	
    width: 372px;
    height: 90px;
    background : transparent url("/ui2019/bg-retina.png") 0 -150px no-repeat;
    background-size: auto 900px;
    }

div#header a#logo:hover
    {
    background: transparent url("/ui2019/bg-retina.png") 0 -250px no-repeat;
    background-size: auto 900px;
    }

}


div#header_index a, div#header_index h1
{
margin: 0;
padding: 0;
border: 0;
}

div#header_index a, div#header_index h1
{
text-indent: -9999px;
overflow:hidden;
float:left;
}

div#header_index a:link, div#header_index a:visited, div#header_index h1
{
display: block;	
width: 500px;
height: 100px;
background : transparent url(/ui2019/bg.png) 0 -150px no-repeat;
}

div#header_index a:hover
{
background: transparent url(/ui2019/bg.png) 0 -250px no-repeat;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2) {

div#header_index a, div#header_index h1
    {
    margin: 0;
    padding: 0;
    border: 0;
    }

div#header_index a, div#header_index h1
    {
    text-indent: -9999px;
    overflow:hidden;
    float:left;
    }

div#header_index a:link, div#header_index a:visited, div#header_index h1
    {
    display: block;	
    width: 500px;
    height: 90px;
    background : transparent url("/ui2019/bg-retina.png") 0 -150px no-repeat;
    background-size: auto 900px;
    }

div#header_index a:hover
    {
    background: transparent url("/ui2019/bg-retina.png") 0 -250px no-repeat;
    background-size: auto 900px;
    }

}


/* ----------------------------------- search form ----------------------------------- */
div#searchui
{
margin:0;
padding:0;
width:306px;
height:100px;
background-color: transparent;
float:right;
}

#searchui input.button
{
padding:0;
margin:0;
background:#AE4141;
font:12px Verdana, Arial, Helvetica, sans-serif;
color:#FFFFFF;
width:30px;
height:30px;
}

#searchui input.box
{
margin:0;
margin-top:35px;
width:256px;
height:28px;
background:#fdfdfd;
font:12px Verdana, Arial, Helvetica, sans-serif;
border:1px solid #ddd;
}



/* ----------------------------------- index -----------------------------------*/


body#homefirst div#maincontent div
{
padding-top:0;
padding-bottom:30px;
width:810px;
}

body#homefirst div#maincontent h3
{
margin-top:35px;
margin-left:110px;
font-size:24px;
}

body#homefirst div#maincontent p
{
margin-left:110px;
font-size:16px;
}

body#homefirst div#maincontent div.idea
{
min-height: 118px;
}

body#homefirst div#maincontent div#d1
{
text-align:center;
}

body#homefirst div#maincontent div#d1 h2
{
margin-top:35px;
font-size:24px;
}

body#homefirst div#maincontent div#d1 p
{
margin-left:0;
font-size:18px;
}

body#homefirst div#maincontent div#partner
{
width: 307px;
float: left;
}

body#homefirst div#maincontent div#update
{
width: 300px;
float: left;
margin:0;
}

body#homefirst div#maincontent div#d2
{
background : transparent url(/ui2017/icon2.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d3
{
background : transparent url(/ui2017/icon3.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d4
{
background : transparent url(/ui2017/icon4.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d5
{
background : transparent url(/ui2017/icon5.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d6
{
background : transparent url(/ui2017/icon6.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d7
{
background : transparent url(/ui2017/icon7.png) 0 0 no-repeat;
}

body#homefirst div#maincontent div#d8
{
background : transparent url(/ui2017/icon8.png) 0 0 no-repeat;
border:0px;
}

body#homefirst div#maincontent div#d9		{
background: transparent url(/ui2017/icon9.png) top left no-repeat;
}

body#homefirst div#maincontent div#d10		{
background: transparent url(/ui2017/icon10.png) top left no-repeat;
}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{
margin-left:75px;
margin-top:10px;
width:290px;
float:left;
border:0;
}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{
margin-left:75px;
margin-top:15px;
float:left;
border:0;
min-height:87px;
}

body#homefirst div#maincontent div#d9, body#homefirst div#maincontent div#d10	{
width:290px;
}

body#homefirst div#maincontent div#d10	{
width:299px;
}

body#homefirst div#maincontent div#d9 h3, body#homefirst div#maincontent div#d10 h3	{
font-size:14px;
margin:23px 0 0 58px;
color:#777;
font-weight:400;
}

body#homefirst div#maincontent div#d9 p, body#homefirst div#maincontent div#d10 p	{
font-size:14px;
margin:0 0 0 58px;
line-height:normal;
}

div#d9 p a	{
color:#000;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2) {

body#homefirst div#maincontent div#d2
{
background : transparent url("/ui2019/ref-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

body#homefirst div#maincontent div#d3
{
background : transparent url("/ui2019/try-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

body#homefirst div#maincontent div#d4
{
background : transparent url("/ui2019/easy-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

body#homefirst div#maincontent div#d5
{
background : transparent url("/ui2019/how-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

body#homefirst div#maincontent div#d6
{
background : transparent url("/ui2019/news-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

body#homefirst div#maincontent div#d7
{
background : transparent url("/ui2019/update-retina.png") 0 0 no-repeat;
background-size: auto 80px;
}

}

/* ----------------------------------- navfirst -----------------------------------*/
div#navfirst
{
height: 48px;
width: 1210px;
margin: 0 0 0 12px;
padding: 0;
border: 0;
background: #E8E7E3;
}

div#navfirst ul#menu
{
height: 48px;
width: 1210px;
margin: 0;
padding: 0;
position: relative;
}

div#navfirst ul#menu li
{
margin:0;
padding:0;
list-style:none;
position:absolute;
top:0;
}

ul#menu li,ul#menu a
{
display: block;
height: 48px;
border-bottom:0;
}

div#navfirst ul#menu li a
{
text-indent: -9999px;
overflow:hidden;
text-decoration: none;
}


div#navfirst ul#menu  {background: transparent url(/ui2019/bg.png) top left no-repeat;}

#h	{width: 166px; left: 0px;}
#b	{width: 191px; left: 166px;}
#s	{width: 175px; left: 357px;}
#p 	{width: 198px; left: 532px;}
#x	{width: 113px; left: 730px;}
#w	{width: 197px; left: 843px;}
#r	{width: 170px; left: 1040px;}

#h a:hover	{background: transparent url(/ui2019/bg.png) 0 -48px no-repeat;}
#b a:hover	{background: transparent url(/ui2019/bg.png) -166px -48px no-repeat;}
#s a:hover	{background: transparent url(/ui2019/bg.png) -357px -48px no-repeat;}
#p a:hover	{background: transparent url(/ui2019/bg.png) -532px -48px no-repeat;}
#x a:hover	{background: transparent url(/ui2019/bg.png) -730px -48px no-repeat;}
#w a:hover	{background: transparent url(/ui2019/bg.png) -843px -48px no-repeat;}
#r a:hover	{background: transparent url(/ui2019/bg.png) -1040px -48px no-repeat;}

body.html #h				{background: transparent url(/ui2019/bg.png) 0 -48px no-repeat;}
body.browserscripting #b	{background: transparent url(/ui2019/bg.png) -166px -48px no-repeat;}
body.serverscripting #s     {background: transparent url(/ui2019/bg.png) -357px -48px no-repeat;}
body.programming #p         {background: transparent url(/ui2019/bg.png) -532px -48px no-repeat;}
body.xml #x					{background: transparent url(/ui2019/bg.png) -730px -48px no-repeat;}
body.webbuilding #w		    {background: transparent url(/ui2019/bg.png) -843px -48px no-repeat;}
body.reference #r		    {background: transparent url(/ui2019/bg.png) -1040px -48px no-repeat;}




@media
only screen and (-webkit-min-device-pixel-ratio: 2) {

div#navfirst ul#menu  {background: transparent url("/ui2019/bg-retina.png") top left no-repeat; background-size: auto 900px;}

#h	{width: 166px; left: 0px;}
#b	{width: 191px; left: 166px;}
#s	{width: 175px; left: 357px;}
#p 	{width: 198px; left: 532px;}
#x	{width: 113px; left: 730px;}
#w	{width: 197px; left: 843px;}
#r	{width: 170px; left: 1040px;}

#h a:hover	{background: transparent url("/ui2019/bg-retina.png") 0 -48px no-repeat; background-size: auto 900px;}
#b a:hover	{background: transparent url("/ui2019/bg-retina.png") -166px -48px no-repeat; background-size: auto 900px;}
#s a:hover	{background: transparent url("/ui2019/bg-retina.png") -357px -48px no-repeat; background-size: auto 900px;}
#p a:hover	{background: transparent url("/ui2019/bg-retina.png") -532px -48px no-repeat; background-size: auto 900px;}
#x a:hover	{background: transparent url("/ui2019/bg-retina.png") -730px -48px no-repeat; background-size: auto 900px;}
#w a:hover	{background: transparent url("/ui2019/bg-retina.png") -843px -48px no-repeat; background-size: auto 900px;}
#r a:hover	{background: transparent url("/ui2019/bg-retina.png") -1040px -48px no-repeat; background-size: auto 900px;}

body.html #h				{background: transparent url("/ui2019/bg-retina.png") 0 -48px no-repeat; background-size: auto 900px;}
body.browserscripting #b    {background: transparent url("/ui2019/bg-retina.png") -166px -48px no-repeat; background-size: auto 900px;}
body.serverscripting #s     {background: transparent url("/ui2019/bg-retina.png") -357px -48px no-repeat; background-size: auto 900px;}
body.programming #p         {background: transparent url("/ui2019/bg-retina.png") -532px -48px no-repeat; background-size: auto 900px;}
body.xml #x					{background: transparent url("/ui2019/bg-retina.png") -730px -48px no-repeat; background-size: auto 900px;}
body.webbuilding #w		    {background: transparent url("/ui2019/bg-retina.png") -843px -48px no-repeat; background-size: auto 900px;}
body.reference #r		    {background: transparent url("/ui2019/bg-retina.png") -1040px -48px no-repeat; background-size: auto 900px;}

}